.prev {
  transform: rotate(180deg);
}

.next {
  transform: rotate(0deg);
}

.icon,
.next,
.prev {
  width: 2.8125rem;
  height: 2.8125rem;
}

@media (max-width: 1024px) {
  .icon,
  .next,
  .prev {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 904px) {
  .icon,
  .next,
  .prev {
    width: 1.875rem;
    height: 1.875rem;
  }
}

@media (max-width: 576px) {
  .icon,
  .next,
  .prev {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
