.container {
  width: 75rem;
  margin: auto;
}

.align {
  display: flex;
  align-content: center;
  justify-content: center;
}

.firstLoading {
  height: 100vh;
}

@media (max-width: 1200px) {
  .container {
    width: 64rem;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 56.5rem;
  }
}

@media (max-width: 904px) {
  .container {
    width: 36rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 22.5rem;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20rem;
  }
}
