.headerLettering {
  margin-left: 108px;
  width: 203px;
  height: 60px;
}

.menuLettering {
  margin-top: 287px;
  width: 154px;
  height: 60px;
}

.mainLettering {
  margin-right: 178px;
  width: 495px;
  height: 158px;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .headerLettering {
    display: none;
  }
}
