@property --angle {
  syntax: '<angle>';
  initial-value: 125deg;
  inherits: false;
}

.wrapper {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  width: 200px;
  height: 60px;
  justify-content: center;
  padding: 0.125rem; /* Толщина градиентного бордера */
  border-radius: 1.5rem 0.25rem 1.5rem 1.5rem;
  background: conic-gradient(
    from var(--angle),
    transparent,
    transparent,
    transparent,
    #f1ae79,
    #fecda7,
    transparent,
    transparent,
    transparent,
    #b46b48,
    #b46b48
  );
  border: 0.0313rem solid #13515e;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.8125rem;
  height: 6.25rem;
  position: relative;
  width: 17.8125rem;
  padding: 0.125rem;
  border-left: 0.125rem solid #f1ae79;
  border-right: 0.125rem solid #b46b48;
  border-radius: 2.25rem 0.25rem 2.25rem 2.25rem;
  box-shadow: 0rem 0.1881rem 0.1881rem 0rem #081e2140;
}

.inner {
  width: 12.5rem;
  height: 3.5rem;
  text-align: center;
  position: relative;
  background: #13515e;
  border-radius: 1.3125rem 0.0625rem 1.3125rem 1.3125rem;
  z-index: 1;
}

.innerMain {
  width: 17.8125rem;
  height: 6rem;
  text-align: center;
  position: relative;
  background: #13515e;
  border-radius: 2.0625rem 0.0625rem 2.0625rem 2.0625rem;
  z-index: 1;
}

@keyframes spin {
  0% {
    --angle: 125deg;
  }

  25% {
    --angle: 215deg;
  }

  75% {
    --angle: 395deg;
  }

  100% {
    --angle: 485deg;
  }
}

.link,
.linkMain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f1ae79;
  text-decoration: none;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 100%;
}

@media (hover: hover) {
  .wrapper:hover {
    cursor: pointer;
    animation: spin 3s linear infinite;
  }

  .main:hover {
    cursor: pointer;
    border: none;
    padding: 0.125rem;
    background: conic-gradient(
      from var(--angle),
      transparent,
      transparent,
      transparent,
      #f1ae79,
      #fecda7,
      transparent,
      transparent,
      transparent,
      #b46b48,
      #b46b48
    );

    animation: spin 3s linear infinite;
  }

  .wrapper:hover .link,
  .main:hover .link {
    color: #fecda7;
  }
}

@media (max-width: 1200px) {
  .main {
    width: 17.3125rem;
    height: 5.375rem;
    border-radius: 1.75rem 0.25rem 1.75rem 1.75rem;
  }

  .linkMain {
    font-size: 1.25rem;
  }

  .innerMain {
    height: 5rem;
    border-radius: 1.5625rem 0.0625rem 1.5625rem 1.5625rem;
  }
}

@media (max-width: 1024px) {
  .main {
    width: 13.1875rem;
    height: 4.75rem;
  }

  .innerMain {
    height: 4.375rem;
  }
}

@media (max-width: 904px) {
  .main {
    width: 14.4375rem;
    height: 4.75rem;
  }

  .innerMain {
    height: 4.375rem;
  }
}

@media (max-width: 576px) {
  .main {
    width: 9.75rem;
    height: 3.375rem;
    border-radius: 1rem 0.125rem 1rem 1rem;
    border-left: 0.0938rem solid #f1ae79;
    border-right: 0.0938rem solid #b46b48;
  }

  .linkMain {
    font-size: 0.8125rem;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .innerMain {
    height: 3.0625rem;
    border-radius: 0.8125rem 0 0.8125rem 0.8125rem;
  }
}

@media (max-width: 360px) {
  .main {
    border-left: 0.0938rem solid #f1ae79;
    border-right: 0.0938rem solid #b46b48;
  }

  .linkMain {
    font-size: 0.75rem;
  }

  .innerMain {
    border-radius: 0.8125rem 0 0.8125rem 0.8125rem;
  }
}
