@property --angle {
  syntax: '<angle>';
  initial-value: 125deg;
  inherits: false;
}

.wrapper {
  position: relative;
  display: inline-block;
  padding: 2px; /* Толщина градиентного бордера */
  border-radius: 24px 4px 24px 24px;
  background: conic-gradient(
    from var(--angle),
    transparent,
    transparent,
    transparent,
    #f1ae79,
    #fecda7,
    transparent,
    transparent,
    transparent,
    #b46b48,
    #b46b48
  );
  border: 0.5px solid #13515e;
}

.leftRight {
  position: relative;
  padding: 2px;
  border-left: 2px solid #f1ae79;
  border-right: 2px solid #b46b48;
  border-radius: 36px 4px 36px 36px;
  box-shadow: 0px 3.01px 3.01px 0px #081e2140;
}

.inner {
  text-align: center;
  position: relative;
  padding: 15px 26px;
  background: #13515e;
  border-radius: 21px 1px 21px 21px;
  z-index: 1;
}

.innerLeftRight {
  text-align: center;
  position: relative;
  padding: 15px 26px;
  background: #13515e;
  border-radius: 33px 1px 33px 33px;
  z-index: 1;
}

@keyframes spin {
  0% {
    --angle: 125deg;
  }

  25% {
    --angle: 215deg;
  }

  75% {
    --angle: 395deg;
  }

  100% {
    --angle: 485deg;
  }
}

.link {
  color: #f1ae79;
  text-decoration: none;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 110%;
}

@media (hover: hover) {
  .wrapper:hover {
    cursor: pointer;
    animation: spin 3s linear infinite;
  }

  .leftRight:hover {
    cursor: pointer;
    border: none;
    padding: 2px;
    background: conic-gradient(
      from var(--angle),
      transparent,
      transparent,
      transparent,
      #f1ae79,
      #fecda7,
      transparent,
      transparent,
      transparent,
      #b46b48,
      #b46b48
    );

    animation: spin 3s linear infinite;
  }

  .wrapper:hover .link,
  .leftRight:hover .link {
    color: #fecda7;
  }
}
