.section {
  margin-top: 5.75rem;
  /* position: relative; */
}

.container {
  position: relative;
  width: 75rem;
  margin: auto;
}

.swiperWrapper {
  height: 48.875rem;
}

.title {
  margin: 0;
  margin-bottom: 6.6875rem;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 100%;
  color: #f1ae79;
}

.customNext,
.customPrev {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.customNavigation {
  position: absolute;

  padding: 0;
  display: flex;
  gap: 11.375rem;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  z-index: 2;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error,
.info {
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 100%;
  color: #ff0000;
  text-align: center;
}

.info {
  color: #f1ae79;
}

@-webkit-keyframes color_anim {
  0% {
    fill: #fecda7;
  }
  50% {
    fill: #b46b48;
  }
  100% {
    fill: #fecda7;
  }
}

@keyframes color_anim {
  0% {
    fill: #fecda7;
  }
  50% {
    fill: #b46b48;
  }
  100% {
    fill: #fecda7;
  }
}

@-webkit-keyframes animate {
  0% {
    transform: translate(-25%, -75%) rotate(0);
  }

  100% {
    transform: translate(-25%, -75%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: translate(-25%, -75%) rotate(0);
  }

  100% {
    transform: translate(-25%, -75%) rotate(360deg);
  }
}

@media (hover: hover) {
  .customNext:hover path.three,
  .customPrev:hover path.three {
    -webkit-animation: color_anim 1s infinite 0.2s;
    animation: color_anim 1s infinite 0.2s;
  }

  .customNext:hover path.one {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
    animation: color_anim 1s infinite 0.6s;
  }

  .customPrev:hover path.one {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
    animation: color_anim 1s infinite 0.6s;
  }

  .customNext:hover path.two {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
    animation: color_anim 1s infinite 0.4s;
  }

  .customPrev:hover path.two {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
    animation: color_anim 1s infinite 0.4s;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 64rem;
  }

  .title {
    margin-bottom: 4.5rem;
    font-size: 2.25rem;
  }

  .swiperWrapper {
    height: 34.125rem;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 56.5rem;
  }
}

@media (max-width: 904px) {
  .container {
    width: 36rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .swiperWrapper {
    height: 34.25rem;
  }

  .customNavigation {
    gap: 6.25rem;
  }

  .error,
  .info {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 22.5rem;
  }

  .title {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
  }

  .customNavigation {
    gap: 2.5rem;
  }

  .swiperWrapper {
    height: 23.625rem;
  }

  .error,
  .info {
    font-size: 1.125rem;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20rem;
  }

  .error,
  .info {
    font-size: 0.875rem;
  }

  .title {
    font-size: 1.25rem;
  }
}
