.wrapperReview {
  display: flex;

  gap: 1.25rem;
}

.wrapperReverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.25rem;
}

.review {
  --borderWidth: 0.125rem;
  --borderGradient: linear-gradient(
    266.43deg,
    #b46b48 0%,
    rgba(211, 141, 97, 0) 50%,
    rgba(226, 157, 109, 0) 75%,
    #f1ae79 100%
  );

  width: 62.3125rem;
  position: relative;
  border-radius: 3.75rem 0.375rem 3.75rem 3.75rem;
  padding: 2.5rem 3.75rem;

  background: linear-gradient(
    360deg,
    rgba(8, 30, 33, 0.125) 0%,
    rgba(19, 81, 94, 0) 100%
  );
}

.review::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--borderWidth);
  background-image: var(--borderGradient);
  border-radius: inherit;
  -webkit-mask: conic-gradient(#000 0 0) content-box, conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask: conic-gradient(#000 0 0) content-box, conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}

.rating {
  display: flex;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.avatar {
  width: 11.4375rem;
  height: 11.4375rem;
  border-radius: 2.5rem;
}

.star {
  width: 2.1875rem;
  height: 2.0625rem;
}

.title {
  margin-top: 1.75rem;
  margin-bottom: 0.125rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #f1ae79;
}

.company {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #f1ae79;
}

.text {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #fecda7;
}

@media (max-width: 1200px) {
  .company {
    font-size: 18px;
  }

  .title {
    font-size: 18px;
  }

  .text {
    font-size: 16px;
  }

  .avatar {
    width: 132px;
    height: 132px;
  }

  .star {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 1024px) {
  .review {
    width: 47.375rem;
    border-radius: 1.75rem 4px 1.75rem 1.75rem;
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 904px) {
  .avatar {
    display: none;
  }

  .star {
    width: 1.75rem;
    height: 1.75rem;
  }
}

@media (max-width: 576px) {
  .star {
    width: 1rem;
    height: 1rem;
  }

  .title,
  .company {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .title {
    margin-top: 0.75rem;
  }

  .text {
    font-size: 0.875rem;
  }

  .review {
    border-radius: 1.75rem 0.25rem 1.75rem 1.75rem;
    padding: 0.75rem 0.75rem 0.75rem 0.9375rem;
  }
}

@media (max-width: 360px) {
  .text,
  .title,
  .company {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .title {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .review {
    width: 20rem;
  }
}
