.header {
  width: 100%;
  padding: 1.25rem 0rem;
  background-color: #13515e;
  border-bottom: 0.125rem solid #217987;
  z-index: 2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75rem;
  margin: auto;
}

.justifyContainer {
  justify-content: space-between;
}

.link {
  color: #f1ae79;
  text-decoration: none;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.75rem;
}

.back {
  visibility: hidden;
}

.menuIcon,
.back {
  width: 3.75rem;
  height: 3.75rem;
}

.btnMenu {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 3.75rem;
  height: 3.75rem;
  background: none;
  border: none;
  border-radius: 1.375rem;
  cursor: pointer;
}

.currentPath {
  display: none;
  color: #f1ae79;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 100%;
}

.headerLettering {
  margin-left: 6.75rem;
  width: 12.6875rem;
  height: 2.75rem;
}

@media (hover: hover) {
  .link:hover {
    color: #fecda7;
  }

  .btnMenu:hover {
    box-shadow: 0.125rem 0.125rem 0.625rem #f1ae79;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 64rem;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 56.5rem;
    margin: auto;
    justify-content: space-between;
  }

  .btnMenu {
    display: flex;
  }

  .navigation {
    display: none;
  }

  .currentPath {
    display: flex;
  }

  .back {
    visibility: visible;
  }

  .headerLettering {
    display: none;
  }
}

@media (max-width: 904px) {
  .container {
    width: 36rem;
    margin: auto;
  }
}

@media (max-width: 576px) {
  .container {
    width: 22.5rem;
    margin: auto;
  }

  .menuIcon,
  .back,
  .btnMenu {
    width: 2.5rem;
    height: 2.5rem;
  }

  .currentPath {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20rem;
    margin: auto;
  }

  .menuIcon,
  .back,
  .btnMenu {
    width: 1.625rem;
    height: 1.625rem;
  }

  .currentPath {
    font-size: 0.75rem;
  }
}
