@font-face {
    font-family: 'Naga';
    src: url('Naga-Regular.woff2') format('woff2'),
        url('Naga-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

