.article {
  margin-top: 72px;
  margin-bottom: 402px;
}

.title {
  margin: 0;
  margin-bottom: 72px;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 100%;
  color: #f1ae79;
}

.wrapper {
  display: flex;
  gap: 122px;
}

.linkWrapper {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  width: 420px;
  height: 107px;
  justify-content: center;
  padding: 0.125rem; /* Толщина градиентного бордера */
  border-radius: 40px 4px 40px 40px;
  background: conic-gradient(
    from var(--angle),
    transparent,
    transparent,
    transparent,
    #f1ae79,
    #fecda7,
    transparent,
    transparent,
    transparent,
    #b46b48,
    #b46b48
  );
  border: 0.0313rem solid #13515e;
  text-decoration: none;
}

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 420px;
  height: 103px;

  position: relative;
  background: #13515e;
  border-radius: 37px 1px 37px 37px;
  z-index: 2;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 100%;
  color: #f1ae79;
}

@keyframes spin {
  0% {
    --angle: 125deg;
  }

  25% {
    --angle: 215deg;
  }

  75% {
    --angle: 395deg;
  }

  100% {
    --angle: 485deg;
  }
}

@media (hover: hover) {
  .linkWrapper:hover,
  .innerWrapper:hover {
    cursor: pointer;
    animation: spin 3s linear infinite;
  }
}

@media (max-width: 1200px) {
  .article {
    margin-bottom: 481px;
  }
}

@media (max-width: 1024px) {
  .link {
    font-size: 24px;
  }

  .title {
    font-size: 28px;
  }

  .linkWrapper,
  .innerWrapper {
    width: 380px;
  }

  .linkWrapper {
    height: 104px;
  }

  .innerWrapper {
    height: 100px;
  }

  .article {
    margin-bottom: 359px;
  }
}

@media (max-width: 904px) {
  .wrapper {
    flex-direction: column;
    gap: 57px;
    align-items: center;
  }

  .article {
    margin-bottom: 283px;
  }

  .link {
    font-size: 20px;
  }

  .linkWrapper {
    width: 340px;
    height: 96px;
  }

  .innerWrapper {
    width: 340px;
    height: 92px;
  }

  .img {
    width: 30px;
    height: 30px;
  }

  .title {
    text-align: center;
    line-height: 120%;
  }
}

@media (max-width: 576px) {
  .article {
    margin-bottom: 283px;
  }

  .link {
    font-size: 18px;
  }

  .linkWrapper {
    width: 308px;
    height: 90px;
  }

  .innerWrapper {
    width: 308px;
    height: 86px;
  }

  .title {
    font-size: 24px;
  }

  .img {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 360px) {
  .article {
    margin-bottom: 251px;
  }

  .link {
    font-size: 14px;
  }

  .linkWrapper {
    width: 270px;
    height: 80px;
  }

  .innerWrapper {
    width: 270px;
    height: 76px;
  }

  .title {
    font-size: 18px;
    text-align: left;
    margin-bottom: 62px;
  }

  .img {
    width: 20px;
    height: 20px;
  }

  .wrapper {
    gap: 34px;
  }
}
