.article {
  margin-top: 4.5rem;
  margin-bottom: 25.125rem;
}

.title {
  margin: 0;
  margin-bottom: 4.5rem;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
  line-height: 100%;
  color: #f1ae79;
}

.wrapper {
  display: flex;
  gap: 7.625rem;
}

.linkWrapper {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  width: 26.25rem;
  height: 6.6875rem;
  justify-content: center;
  padding: 0.125rem;
  border-radius: 2.5rem 0.25rem 2.5rem 2.5rem;
  background: conic-gradient(
    from var(--angle),
    transparent,
    transparent,
    transparent,
    #f1ae79,
    #fecda7,
    transparent,
    transparent,
    transparent,
    #b46b48,
    #b46b48
  );
  border: 0.0313rem solid #13515e;
  text-decoration: none;
}

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  width: 26.25rem;
  height: 6.4375rem;

  position: relative;
  background: #13515e;
  border-radius: 2.3125rem 0.0625rem 2.3125rem 2.3125rem;
  z-index: 2;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 100%;
  color: #f1ae79;
}

@-webkit-keyframes spin {
  0% {
    --angle: 125deg;
  }

  25% {
    --angle: 215deg;
  }

  75% {
    --angle: 395deg;
  }

  100% {
    --angle: 485deg;
  }
}

@keyframes spin {
  0% {
    --angle: 125deg;
  }

  25% {
    --angle: 215deg;
  }

  75% {
    --angle: 395deg;
  }

  100% {
    --angle: 485deg;
  }
}

@media (hover: hover) {
  .linkWrapper:hover,
  .innerWrapper:hover {
    cursor: pointer;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
}

@media (min-width: 1500px) {
  .article {
    margin-bottom: 35.5625rem;
  }
}

@media (max-width: 1200px) {
  .article {
    margin-bottom: 29.625rem;
  }
}

@media (max-width: 1024px) {
  .link {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .linkWrapper,
  .innerWrapper {
    width: 23.75rem;
  }

  .linkWrapper {
    height: 6.5rem;
  }

  .innerWrapper {
    height: 6.25rem;
  }

  .article {
    margin-bottom: 22.4375rem;
  }
}

@media (max-width: 904px) {
  .wrapper {
    flex-direction: column;
    gap: 3.5625rem;
    align-items: center;
  }

  .article {
    margin-bottom: 19.375rem;
  }

  .link {
    font-size: 1.25rem;
  }

  .linkWrapper {
    width: 21.25rem;
    height: 6rem;
  }

  .innerWrapper {
    width: 21.25rem;
    height: 5.75rem;
  }

  .img {
    width: 1.875rem;
    height: 1.875rem;
  }

  .title {
    line-height: 120%;
  }
}

@media (max-width: 576px) {
  .article {
    margin-bottom: 17.6875rem;
  }

  .link {
    font-size: 1.125rem;
  }

  .linkWrapper {
    width: 19.25rem;
    height: 5.625rem;
  }

  .innerWrapper {
    width: 19.25rem;
    height: 5.375rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .img {
    width: 1.625rem;
    height: 1.625rem;
  }
}

@media (max-width: 360px) {
  .article {
    margin-bottom: 15.6875rem;
  }

  .link {
    font-size: 0.875rem;
  }

  .linkWrapper {
    width: 16.875rem;
    height: 5rem;
  }

  .innerWrapper {
    width: 16.875rem;
    height: 4.75rem;
  }

  .title {
    font-size: 1.125rem;
    text-align: left;
    margin-bottom: 3.875rem;
  }

  .img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .wrapper {
    gap: 2.125rem;
  }
}
