.section {
  position: relative;
  height: 90.75rem;
}

.wavesBg {
  position: absolute;
  top: -0.8125rem;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 0;
}

.waves {
  position: absolute;
  top: 6.25rem;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 1;
}

.content {
  position: absolute;
  top: 17.875rem;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 81.25rem;
  background-color: #13515e;
}

.container {
  width: 75rem;
  margin: auto;
}

.title {
  margin-top: 3.75rem;
  margin-bottom: 2.5rem;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 100%;

  background: linear-gradient(
    90.46deg,
    #efc6a3 0%,
    #f1ae79 14.87%,
    #b46b48 29.74%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.visuallyHidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.swiperWrapper {
  height: 59.375rem;
}

.customNavigation {
  display: none;
  position: absolute;
  padding: 0 6.375rem;
  gap: 11.375rem;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 4.6875rem;
  z-index: 2;
}

.customNext,
.customPrev {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

@-webkit-keyframes color_anim {
  0% {
    fill: #fecda7;
  }
  50% {
    fill: #b46b48;
  }
  100% {
    fill: #fecda7;
  }
}

@keyframes color_anim {
  0% {
    fill: #fecda7;
  }
  50% {
    fill: #b46b48;
  }
  100% {
    fill: #fecda7;
  }
}

@-webkit-keyframes animate {
  0% {
    transform: translate(-25%, -75%) rotate(0);
  }

  100% {
    transform: translate(-25%, -75%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: translate(-25%, -75%) rotate(0);
  }

  100% {
    transform: translate(-25%, -75%) rotate(360deg);
  }
}

@media (hover: hover) {
  .customNext:hover path.three,
  .customPrev:hover path.three {
    -webkit-animation: color_anim 1s infinite 0.2s;
    animation: color_anim 1s infinite 0.2s;
  }

  .customNext:hover path.one {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
    animation: color_anim 1s infinite 0.6s;
  }

  .customPrev:hover path.one {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
    animation: color_anim 1s infinite 0.6s;
  }

  .customNext:hover path.two {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
    animation: color_anim 1s infinite 0.4s;
  }

  .customPrev:hover path.two {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
    animation: color_anim 1s infinite 0.4s;
  }
}

@media (min-width: 1500px) {
  .section {
    height: 98.75rem;
  }

  .wavesBg {
    height: 29.125rem;
  }

  .wavesBgBottom {
    bottom: -19.3125rem;
  }

  .waves {
    height: 31.125rem;
    top: 5.625rem;
  }

  .content {
    top: 28.225rem;
    height: 77.625rem;
  }
}

@media (max-width: 1200px) {
  .section {
    height: 87.75rem;
  }

  .container {
    width: 64rem;
  }

  .wavesBg {
    top: -3.625rem;
  }

  .waves {
    height: 15.125rem;
    top: 2.625rem;
  }

  .content {
    top: 15.025rem;
  }

  .title {
    font-size: 2.25rem;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 56.5rem;
  }

  .wavesBg {
    top: -4.0625rem;
  }

  .waves {
    height: 14.6875rem;
    top: 1.875rem;
  }

  .content {
    top: 14.4375rem;
    height: 65.375rem;
  }

  .title {
    margin-top: 2.5rem;
  }

  .section {
    height: 71.75rem;
  }

  .swiperWrapper {
    height: 48.375rem;
  }
}

@media (max-width: 904px) {
  .container {
    width: 36rem;
    position: relative;
  }

  .wavesBg {
    top: -4.5625rem;
  }

  .waves {
    height: 11.3125rem;
    top: 2.9375rem;
  }

  .content {
    top: 13.125rem;
    height: 67rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .customNavigation {
    display: flex;
    padding: 0;
    right: 0;
    top: 0;
    gap: 2.5rem;
  }

  .section {
    height: 72.75rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 22.5rem;
  }

  .wavesBg {
    top: -6.25rem;
  }

  .waves {
    height: 8.125rem;
    top: 1.875rem;
  }

  .content {
    top: 9.375rem;
    height: 54.625rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .swiperWrapper {
    height: 39.9375rem;
  }

  .section {
    height: 56.75rem;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20rem;
  }

  .wavesBg {
    top: -7.4375rem;
  }

  .waves {
    height: 4.125rem;
    top: 1.875rem;
  }

  .content {
    top: 6.125rem;
    height: 44.875rem;
  }

  .swiperWrapper {
    height: 31.4375rem;
  }

  .section {
    height: 43.75rem;
  }
}
