.section {
  margin-top: 2.5rem;
  margin-bottom: 5.75rem;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.1875rem;
  row-gap: 2rem;
  width: 75rem;
  margin: auto;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error,
.info {
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 100%;
  color: #ff0000;
  text-align: center;
}

.observer {
  width: 100%;
  height: 50px;
}

.info {
  color: #fecda7;
}

@media (max-width: 1200px) {
  .container {
    width: 64rem;
  }
}

@media (max-width: 1024px) {
  .container {
    justify-content: center;
    width: 56.5rem;
  }
}

@media (max-width: 904px) {
  .container {
    width: 36rem;
  }

  .error,
  .info {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 22.5rem;
  }

  .error,
  .info {
    font-size: 1.125rem;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20rem;
  }

  .error,
  .info {
    font-size: 0.875rem;
  }
}
