.section {
  position: relative;
  height: 124.8125rem;
  margin-bottom: 300px;
}

.wavesBg {
  position: absolute;
  top: -0.8125rem;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 0;
}

.wavesBgBottom {
  position: absolute;
  bottom: 1.875rem;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 0;
}

.waves {
  position: absolute;
  top: 6.25rem;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 1;
}

.wavesBottom {
  position: absolute;
  bottom: 8.3125rem;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 1;
}

.content {
  position: absolute;
  top: 17.875rem;
  left: 0;
  width: 100%;
  z-index: 0;
  background-color: #13515e;
}

.container {
  width: 75rem;
  margin: auto;
}

.large {
  fill: rgb(97 179 182);
}

.medium {
  fill: rgb(60 133 141);
}

.small {
  fill: rgb(43 111 121);
}

.desktop {
  fill: rgb(26 90 102);
}

.tablet {
  fill: rgb(63 136 144);
}

.phone {
  fill: rgb(34 98 110);
}

.smallPhone {
  fill: rgb(103 187 189);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 1500px) {
  .wavesBg,
  .wavesBgBottom {
    height: 29.125rem;
  }

  .wavesBgBottom {
    bottom: -19.3125rem;
  }

  .waves {
    height: 31.125rem;
    top: 5.625rem;
  }

  .wavesBottom {
    height: 31.125rem;
    bottom: -14.1875rem;
  }

  .content {
    top: 28.225rem;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 64rem;
  }

  .wavesBg {
    top: -3.625rem;
  }

  .wavesBgBottom {
    bottom: 3.75rem;
  }

  .waves {
    height: 15.125rem;
    top: 2.625rem;
  }

  .content {
    top: 15.125rem;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 56.5rem;
  }

  .wavesBg {
    top: -4.0625rem;
  }

  .waves {
    height: 14.6875rem;
    top: 1.875rem;
  }

  .wavesBottom {
    bottom: 17.375rem;
  }

  .wavesBgBottom {
    bottom: 12.9375rem;
  }

  .content {
    top: 14.4375rem;
  }
}

@media (max-width: 904px) {
  .container {
    width: 36rem;
  }

  .wavesBg {
    top: -4.5625rem;
  }

  .waves {
    height: 11.3125rem;
    top: 2.9375rem;
  }

  .wavesBottom {
    bottom: -4.9375rem;
  }

  .wavesBgBottom {
    bottom: -8rem;
  }

  .content {
    top: 13.125rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 22.5rem;
  }

  .wavesBg {
    top: -6.25rem;
  }

  .waves {
    height: 8.125rem;
    top: 1.875rem;
  }

  .wavesBottom {
    bottom: 1.0625rem;
  }

  .wavesBgBottom {
    bottom: -1.125rem;
  }

  .content {
    top: 9.375rem;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20rem;
  }

  .wavesBg {
    top: -7.4375rem;
  }

  .waves {
    height: 4.125rem;
    top: 1.875rem;
  }

  .wavesBottom {
    bottom: 14.4375rem;
  }

  .wavesBgBottom {
    bottom: 12.5625rem;
  }

  .content {
    top: 6.125rem;
  }
}
