.section {
  position: relative;
  min-height: 31.25rem;
  height: 1997px;
}

.wavesBg {
  position: absolute;
  top: -0.8125rem;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 0;
}

.wavesBgBottom {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 0;
  /* transform: rotateX(180deg); */
}

.waves {
  position: absolute;
  top: 6.25rem;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 1;
}

.wavesBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 1;
}

.content {
  position: absolute;
  top: 17.875rem;
  left: 0;
  width: 100%;
  z-index: 0;
  background-color: #13515e;
}

.container {
  width: 75rem;
  margin: auto;
}

@media (min-width: 1500px) {
  .wavesBg {
    height: 29.125rem;
  }

  .waves {
    height: 31.125rem;
    top: 5.625rem;
  }

  .content {
    top: 28.225rem;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 64rem;
  }

  .wavesBg {
    top: -3.625rem;
  }

  .waves {
    height: 15.125rem;
    top: 2.625rem;
  }

  .content {
    top: 15.125rem;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 56.5rem;
  }

  .wavesBg {
    top: -4.0625rem;
  }

  .waves {
    height: 14.6875rem;
    top: 1.875rem;
  }

  .content {
    top: 14.4375rem;
  }
}

@media (max-width: 904px) {
  .container {
    width: 36rem;
  }

  .wavesBg {
    top: -4.5625rem;
  }

  .waves {
    height: 11.3125rem;
    top: 2.9375rem;
  }

  .content {
    top: 13.125rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 22.5rem;
  }

  .wavesBg {
    top: -6.25rem;
  }

  .waves {
    height: 8.125rem;
    top: 1.875rem;
  }

  .content {
    top: 9.375rem;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20rem;
  }

  .wavesBg {
    top: -7.4375rem;
  }

  .waves {
    height: 4.125rem;
    top: 1.875rem;
  }

  .content {
    top: 6.125rem;
  }
}
