.overlay {
  position: fixed;
  top: 102px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1024px;
  margin: auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 19px 10px;
  width: 175px;
  height: 552px;
  background: rgba(19, 81, 94, 1);
  border-radius: 0 0 0 37px;
}

.link {
  color: #f1ae79;
  text-decoration: none;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
}

.brandedLettering {
  margin-top: 287px;
  align-self: flex-end;
  width: 154px;
  height: 60px;
}

@media (hover: hover) {
  .link:hover {
    color: #6ec4c5;
  }
}
