.section {
  position: relative;
  margin-bottom: 92px;
}

.swiper {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
}

.container {
  width: 1200px;
  margin: auto;
}

.title {
  margin-bottom: 46px;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 100%;
  color: #f1ae79;
  order: 0;
}

.quiz {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 92px 102px 46px 102px;
  border-radius: 40px;
  width: 1200px;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.quizOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.quizImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
}

.quizTitle {
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 100%;
  z-index: 2;
  color: #f1ae79;
}

.quizText {
  margin: 0;
  max-width: 564px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  z-index: 2;
  color: #fecda7;
}

.iconPrev,
.iconNext {
  width: 17px;
  height: 30px;
}

.customNext,
.customPrev {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
}

.customNavigation {
  position: absolute;
  width: 1200px;
  padding: 0 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 24px;
  z-index: 2;
}

.linkWrapper {
  --borderWidth: 0.125rem;
  --borderGradient: linear-gradient(
    90deg,
    #b46b48 0%,
    rgba(22, 91, 106, 0) 50%,
    rgba(110, 196, 197, 0) 75%,
    #f1ae79 100%
  );

  position: absolute;
  bottom: 100px;
  border-radius: 28px 4px 28px 28px;
  border: 0.125rem solid transparent;

  background: linear-gradient(
    360deg,
    rgba(8, 30, 33, 0.125) 0%,
    rgba(19, 81, 94, 0) 100%
  );
  width: 285px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0rem 0.25rem 0.25rem 0rem #081e2140;
}

.linkWrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--borderWidth);
  background-image: var(--borderGradient);
  border-radius: inherit;
  -webkit-mask: conic-gradient(#000 0 0) content-box, conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}

.quizLink {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;

  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  color: #f1ae79;
  border-radius: 28px 4px 28px 28px;
  text-decoration: none;
}

.quizLink::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #fecda7, transparent);
  transition: all 650ms;
  z-index: 1;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.align {
  display: flex;
  align-content: center;
  justify-content: center;
}

.error {
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  color: #ff0000;
}

@media (hover: hover) {
  .quizLink:hover {
    color: #fecda7;
  }

  .quizLink:hover {
    box-shadow: 1px 1px 25px 0 #fecda7;
  }

  .quizLink:hover:after {
    left: 100%;
  }

  .customNext:hover path.three,
  .customPrev:hover path.three {
    animation: color_anim 1s infinite 0.2s;
  }

  .customNext:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .customPrev:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .customNext:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }

  .customPrev:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
}

@keyframes color_anim {
  0% {
    fill: #fecda7;
  }
  50% {
    fill: #b46b48;
  }
  100% {
    fill: #fecda7;
  }
}

@keyframes animate {
  0% {
    transform: translate(-25%, -75%) rotate(0);
  }

  100% {
    transform: translate(-25%, -75%) rotate(360deg);
  }
}
