.section {
  position: relative;
  margin-bottom: 5.75rem;
}

.swiperWrapper {
  height: 37.5rem;
  border-radius: 2.5rem;
}

.container {
  width: 75rem;
  margin: auto;
}

.title {
  margin-bottom: 5rem;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 100%;
  color: #f1ae79;
  order: 0;
}

.quiz {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5.75rem 6.375rem 2.875rem 6.375rem;
  border-radius: 2.5rem;
  width: 75rem;
  height: 37.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.quizOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.quizTitle {
  margin: 0;
  margin-bottom: 2.5rem;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 100%;
  z-index: 2;
  color: #f1ae79;
}

.quizText {
  margin: 0;
  max-width: 35.25rem;
  max-height: 12.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  z-index: 2;
  color: #fecda7;
  /* overflow-y: auto;
  scrollbar-color: #f1ae79 transparent;
  scrollbar-width: none; */
}

.quizText::-webkit-scrollbar {
  width: 0.375rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.quizText::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.5rem;
  margin: 0.25rem 0;
}

.quizText::-webkit-scrollbar-thumb {
  background: #f1ae79;
  border-radius: 0.5rem;
  border: 0.0625rem solid #0a2f36;
}

.iconPrev,
.iconNext {
  width: 1.0625rem;
  height: 1.875rem;
}

.customNext,
.customPrev {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.customNavigation {
  position: absolute;
  width: 75rem;
  padding: 0 6.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 1.5rem;
  z-index: 2;
}

.linkWrapper {
  --borderWidth: 0.125rem;
  --borderGradient: linear-gradient(
    90deg,
    #b46b48 0%,
    rgba(22, 91, 106, 0) 50%,
    rgba(110, 196, 197, 0) 75%,
    #f1ae79 100%
  );

  position: absolute;
  bottom: 6.25rem;
  border-radius: 1.75rem 0.25rem 1.75rem 1.75rem;
  border: 0.125rem solid transparent;

  background: linear-gradient(
    360deg,
    rgba(8, 30, 33, 0.125) 0%,
    rgba(19, 81, 94, 0) 100%
  );
  width: 17.8125rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0rem 0.25rem 0.25rem 0rem #081e2140;
}

.linkWrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--borderWidth);
  background-image: var(--borderGradient);
  border-radius: inherit;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask:
    conic-gradient(#000 0 0) content-box exclude,
    conic-gradient(#000 0 0);
}

.quizLink {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;

  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 100%;
  color: #f1ae79;
  border-radius: 1.75rem 0.25rem 1.75rem 1.75rem;
  text-decoration: none;
}

.quizLink::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #fecda7, transparent);
  transform: rotate(-45deg);
  opacity: 0;
  transition: all 650ms;
  z-index: 1;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.align {
  display: flex;
  align-content: center;
  justify-content: center;
}

.error,
.info {
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 100%;
  color: #ff0000;
  text-align: center;
}

.info {
  color: #fecda7;
}

@media (hover: hover) {
  .quizLink:hover {
    color: #fecda7;
  }

  .quizLink:hover {
    box-shadow: 0.0625rem 0.0625rem 1.5625rem 0 #fecda7;
  }

  .quizLink:hover:after {
    left: 100%;
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }

  .customNext:hover path.three,
  .customPrev:hover path.three {
    -webkit-animation: color_anim 1s infinite 0.2s;
    animation: color_anim 1s infinite 0.2s;
  }

  .customNext:hover path.one {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
    animation: color_anim 1s infinite 0.6s;
  }

  .customPrev:hover path.one {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
    animation: color_anim 1s infinite 0.6s;
  }

  .customNext:hover path.two {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
    animation: color_anim 1s infinite 0.4s;
  }

  .customPrev:hover path.two {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
    animation: color_anim 1s infinite 0.4s;
  }

  .quizText:hover::-webkit-scrollbar {
    opacity: 1;
  }

  .quizText:hover {
    scrollbar-width: thin;
  }

  .quizText::-webkit-scrollbar-thumb:hover {
    background: #fecda7;
  }
}

@-webkit-keyframes color_anim {
  0% {
    fill: #fecda7;
  }
  50% {
    fill: #b46b48;
  }
  100% {
    fill: #fecda7;
  }
}

@keyframes color_anim {
  0% {
    fill: #fecda7;
  }
  50% {
    fill: #b46b48;
  }
  100% {
    fill: #fecda7;
  }
}

@-webkit-keyframes animate {
  0% {
    transform: translate(-25%, -75%) rotate(0);
  }

  100% {
    transform: translate(-25%, -75%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: translate(-25%, -75%) rotate(0);
  }

  100% {
    transform: translate(-25%, -75%) rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .container {
    width: 64rem;
  }

  .quiz {
    width: 64rem;
    height: 37.5rem;
  }

  .customNavigation {
    width: 64rem;
  }

  .title,
  .quizTitle {
    font-size: 2.25rem;
  }

  .section {
    margin-top: -3.125rem;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 56.5rem;
  }

  .quiz {
    width: 56.5rem;
    height: 28.25rem;
    padding: 4.5rem 7.25rem 2.25rem 7.25rem;
    border-radius: 2rem;
  }

  .swiperWrapper {
    height: 28.25rem;
    border-radius: 2rem;
  }

  .quizOverlay {
    border-radius: 2rem;
  }

  .customNavigation {
    width: 56.5rem;
  }

  .quizTitle {
    margin-bottom: 1.5rem;
  }

  .quizText {
    font-size: 1rem;
    max-width: 27.625rem;
    line-height: 1.5rem;
    max-height: 8.75rem;
  }

  .linkWrapper {
    width: 14.125rem;
    height: 3.75rem;
    border-radius: 1.25rem 0.125rem 1.25rem 1.25rem;
  }

  .quizLink {
    font-size: 1.125rem;
    border-radius: 1.25rem 0.125rem 1.25rem 1.25rem;
  }

  .customNavigation {
    padding: 0 7.25rem;
    bottom: 1.6875rem;
  }

  .section {
    margin-top: -12.8125rem;
  }
}

@media (max-width: 904px) {
  .container {
    width: 36rem;
  }

  .quiz {
    width: 36rem;
    padding: 3.125rem 3.125rem 2.5625rem 3.125rem;
  }

  .customNavigation {
    width: 36rem;
  }

  .title {
    font-size: 1.75rem;
    margin-bottom: 3.5rem;
  }

  .quizTitle {
    font-size: 1.75rem;
  }

  .quizText {
    max-width: 22.875rem;
  }

  .linkWrapper {
    width: 12.8125rem;
    height: 3.4375rem;
    bottom: 4.6875rem;
  }

  .quizLink {
    font-size: 1rem;
  }

  .customNavigation {
    padding: 0 3.125rem;
    bottom: 1.1875rem;
  }

  .section {
    margin-top: 4.4375rem;
  }

  .error,
  .info {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 22.5rem;
  }

  .quiz {
    width: 22.5rem;
    height: 16.875rem;
    border-radius: 1rem;
    padding: 2.5rem 1.25rem 2.5625rem 1.25rem;
  }

  .swiperWrapper {
    height: 16.875rem;
    border-radius: 1rem;
  }

  .customNavigation {
    width: 22.5rem;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .quizTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .quizText {
    max-width: 17.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    max-height: 6.25rem;
  }

  .quizImage {
    border-radius: 1rem;
  }

  .quizOverlay {
    border-radius: 1rem;
  }

  .swiper {
    border-radius: 1rem;
  }

  .linkWrapper {
    width: 8rem;
    height: 2.25rem;
    bottom: 1.5625rem;
    border-radius: 0.75rem 0.125rem 0.75rem 0.75rem;
  }

  .quizLink {
    font-size: 0.75rem;
    border-radius: 0.75rem 0.125rem 0.75rem 0.75rem;
  }

  .customNavigation {
    padding: 0 0.3125rem 0 0;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.9375rem;
    top: 0;
    height: 1.5625rem;
  }

  .section {
    margin-top: -4.5rem;
  }

  .error,
  .info {
    font-size: 1.125rem;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20rem;
  }

  .quiz {
    width: 20rem;
  }

  .customNavigation {
    width: 20rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .quizTitle {
    font-size: 1.125rem;
  }

  .section {
    margin-top: -18.5rem;
  }

  .error,
  .info {
    font-size: 0.875rem;
  }
}
