.article {
  margin-top: 72px;
}

.title {
  margin: 0;
  margin-bottom: 28px;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 100%;
  color: #f1ae79;
}

.benefitTitle {
  margin: 0;
  margin-bottom: 32px;
  max-width: 256px;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 110%;
  color: #f1ae79;
}

.text {
  max-width: 307px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #f1ae79;
}

.benefitWrapper {
  --borderWidth: 0.125rem;
  --borderGradient: linear-gradient(266.43deg, #b46b48 0%, #fecda7 100%);
  width: 387px;
  height: 268px;
  flex-shrink: 0;
  position: relative;
  border-radius: 2.5rem 0.5rem 2.5rem 2.5rem;
  padding: 1.75rem;
}

.benefitWrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--borderWidth);
  padding-bottom: 0;
  background-image: var(--borderGradient);
  border-radius: inherit;
  -webkit-mask: conic-gradient(#000 0 0) content-box, conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}

.benefitWrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  filter: blur(15px);

  box-shadow: 0px 0px 10px 0px #fecda7;

  z-index: -1;
}

.Masks {
  position: absolute;
  top: -64px;
  right: -44px;
  width: 187px;
  height: 180px;
}

.Box {
  position: absolute;
  top: -64px;
  right: -44px;
  width: 180px;
  height: 168px;
}

.Money {
  position: absolute;
  top: -64px;
  right: -44px;
  width: 141px;
  height: 168px;
}

.Rocket {
  position: absolute;
  top: -64px;
  right: -44px;
  width: 160px;
  height: 160px;
}

.Clock {
  position: absolute;
  top: -64px;
  right: -44px;
  width: 160px;
  height: 160px;
}

@media (max-width: 1200px) {
}
