.icon {
  width: 36.875rem;
  height: 33.5rem;
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .icon {
    width: 27.5rem;
    height: 25rem;
  }
}

@media (max-width: 904px) {
  .icon {
    width: 18.0625rem;
    height: 20.625rem;
  }
}

@media (max-width: 576px) {
  .icon {
    width: 11.25rem;
    height: 12.625rem;
  }

  .text {
    margin-top: -0.875rem;
  }

  .contentWrapper {
    left: -1.5625rem;
  }
}

@media (max-width: 360px) {
  .icon {
    width: 9.75rem;
    height: 8.875rem;
  }

  .text {
    margin-top: -0.875rem;
  }

  .contentWrapper {
    left: -1.5625rem;
  }
}
