.btn {
  position: fixed;
  right: 60px;
  bottom: 11.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  padding: 0;
  border-radius: 50%;
  border: 0.25rem solid #6ec4c5;
  background: transparent;
  z-index: 3;
}

.btn::after {
  display: none;
  content: '';
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  border: 0.25rem solid #f1ae79;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes ring {
  0% {
    width: 3.5rem;
    height: 3.5rem;
    opacity: 1;
  }
  100% {
    width: 5.625rem;
    height: 5.625rem;
    opacity: 0;
  }
}

@keyframes ring {
  0% {
    width: 3.5rem;
    height: 3.5rem;
    opacity: 1;
  }
  100% {
    width: 5.625rem;
    height: 5.625rem;
    opacity: 0;
  }
}

.icon {
  width: 1.875rem;
  height: 1.0625rem;
  fill: #6ec4c5;
}

@media (hover: hover) {
  .btn:hover {
    cursor: pointer;
    border-color: #f1ae79;
  }

  .btn:hover .icon {
    fill: #f1ae79;
  }

  .btn:hover::after {
    display: block;
    -webkit-animation: ring 1.5s infinite;
    animation: ring 1.5s infinite;
  }
}

@media (max-width: 1200px) {
  .btn {
    right: 1.25rem;
  }

  .btn {
    width: 2.8125rem;
    height: 2.8125rem;
  }

  .icon {
    width: 1.375rem;
    height: 0.875rem;
  }
}

@media (max-width: 1024px) {
  .btn {
    right: 0.625rem;
  }
}

@media (max-width: 904px) {
  .btn {
    right: 1.25rem;
    width: 1.875rem;
    height: 1.875rem;
    border-width: 0.125rem;
  }

  .icon {
    width: 0.875rem;
    height: 0.6875rem;
  }
}

@media (max-width: 576px) {
  .btn {
    width: 1.25rem;
    height: 1.25rem;
  }

  .icon {
    width: 0.6875rem;
    height: 0.6875rem;
  }
}

@media (max-width: 360px) {
  .btn {
    right: 0.3125rem;
  }
}
