@property --angle {
  syntax: '<angle>';
  initial-value: 125deg;
  inherits: false;
}

@property --angleAuthor {
  syntax: '<angle>';
  initial-value: 160deg;
  inherits: false;
}

.wrapper {
  position: relative;
  display: inline-block;
  padding: 0.125rem; /* Толщина градиентного бордера */
  border-radius: 1.5rem 0.25rem 1.5rem 1.5rem;
  background: conic-gradient(
    from var(--angle),
    transparent,
    transparent,
    transparent,
    #f1ae79,
    #fecda7,
    transparent,
    transparent,
    transparent,
    #b46b48,
    #b46b48
  );
  border: 0.0313rem solid #13515e;
}

.author {
  position: relative;
  width: 17.8125rem;
  padding: 0.125rem;
  background: conic-gradient(
    from var(--angleAuthor),
    #f1ae79,
    #fecda7,
    transparent,
    transparent,
    transparent,
    transparent,
    #b46b48,
    #f1ae79
  );
  border-radius: 2.25rem 0.25rem 2.25rem 2.25rem;
  box-shadow: 0rem 0.1881rem 0.1881rem 0rem #081e2140;
}

.inner {
  text-align: center;
  position: relative;
  padding: 0.9375rem 1.625rem;
  background: #13515e;
  border-radius: 1.3125rem 0.0625rem 1.3125rem 1.3125rem;
  z-index: 1;
}

.innerAuthor {
  text-align: center;
  position: relative;
  padding: 1.6563rem 1.375rem;
  background: #49969b;
  border-radius: 2.0625rem 0.0625rem 2.0625rem 2.0625rem;
  z-index: 1;
}

@keyframes spin {
  0% {
    --angle: 125deg;
  }

  25% {
    --angle: 215deg;
  }

  75% {
    --angle: 395deg;
  }

  100% {
    --angle: 485deg;
  }
}

.btn,
.btnAuthor {
  width: 100%;
  padding: 0;
  color: #f1ae79;
  text-decoration: none;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
}

@media (hover: hover) {
  .wrapper:hover {
    cursor: pointer;
    animation: spin 3s linear infinite;
  }

  .author:hover {
    cursor: pointer;
    border: none;
    padding: 0.125rem;
    background: conic-gradient(
      from var(--angle),
      transparent,
      transparent,
      transparent,
      #f1ae79,
      #fecda7,
      transparent,
      transparent,
      transparent,
      #b46b48,
      #b46b48
    );

    animation: spin 3s linear infinite;
  }

  .wrapper:hover .btn,
  .author:hover .btn {
    color: #fecda7;
  }
}

@media (max-width: 1200px) {
  .author {
    width: 17.3125rem;
    height: 5.375rem;
    border-radius: 1.75rem 0.25rem 1.75rem 1.75rem;
  }

  .btnAuthor {
    font-size: 1.25rem;
  }

  .innerAuthor {
    height: 5.075rem;
    padding: 1.3125rem 1.625rem;
    border-radius: 1.5625rem 0.0625rem 1.5625rem 1.5625rem;
  }
}

@media (max-width: 1024px) {
  .author {
    width: 13.1875rem;
    height: 4.75rem;
  }

  .innerAuthor {
    height: 4.4688rem;
    padding: 0.9688rem 0.5rem;
  }
}

@media (max-width: 904px) {
  .author {
    width: 14.4375rem;
    height: 4.75rem;
  }

  .innerAuthor {
    height: 4.4875rem;
    padding: 0.9688rem 0.5rem;
  }
}

@media (max-width: 576px) {
  .author {
    width: 9.75rem;
    height: 3.375rem;
    border-radius: 1rem 0.125rem 1rem 1rem;
  }

  .btnAuthor {
    font-size: 0.8125rem;
  }

  .innerAuthor {
    height: 3.125rem;
    padding: 0.8125rem 0.8125rem;
    border-radius: 0.8125rem 0 0.8125rem 0.8125rem;
  }
}

@media (max-width: 360px) {
  .btnAuthor {
    font-size: 0.75rem;
  }

  .innerAuthor {
    padding: 0.8125rem 0.625rem;
  }
}
