.section {
  padding-top: 4.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 75rem;
  margin: auto;
}

.contentWrapper {
  position: relative;
  left: -4.25rem;
}

.title {
  margin: 0;
}

.icon {
  margin-right: 11.125rem;
  width: 30.9375rem;
  height: 9.875rem;
  flex-shrink: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 7.8125rem;
  font-family: 'Naga', serif;
  text-align: right;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 104%;
  color: #f1ae79;
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
}

.linkWrapper {
  --borderWidth: 0.125rem;
  --borderGradient: linear-gradient(259.8deg, #b46b48 0%, #f1ae79 57.63%);

  position: relative;

  border-radius: 2.25rem 0.25rem 2.25rem 2.25rem;

  width: 17.8125rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0rem 0.25rem 0.25rem 0rem #081e2140;
}

.linkWrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 0 var(--borderWidth) 0 var(--borderWidth);
  background-image: var(--borderGradient);
  border-radius: inherit;
  -webkit-mask: conic-gradient(#000 0 0) content-box, conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask: conic-gradient(#000 0 0) content-box, conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask: conic-gradient(#000 0 0) content-box, conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
  z-index: -1;
}

.quizLink {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #f1ae79;
  text-decoration: none;
  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 100%;
  border-radius: 2.25rem 0.25rem 2.25rem 2.25rem;
}

.quizLink::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 2.25rem 0.25rem 2.25rem 2.25rem;
  background: linear-gradient(120deg, transparent, #fecda7, transparent);
  transform: rotate(-45deg);
  opacity: 0;
  transition: all 650ms;
  z-index: 1;
}

@media (hover: hover) {
  .quizLink:hover {
    color: #fecda7;
  }

  .quizLink:hover {
    box-shadow: 0.0625rem 0.0625rem 1.5625rem 0 #fecda7;
  }

  .quizLink:hover:after {
    left: 100%;
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }
}

@media (max-width: 1200px) {
  .container {
    width: 64rem;
  }

  .icon {
    margin-right: 0;
    margin-left: -3.75rem;
    margin-top: -1.375rem;
    width: 27.8125rem;
    height: 7.375rem;
  }

  .text {
    font-size: 2.25rem;
    margin-bottom: 6.8125rem;
  }

  .contentWrapper {
    left: 0;
  }

  .link {
    font-size: 1.25rem;
  }

  .linkWrapper {
    width: 17.0625rem;
    height: 5.0625rem;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 56.5rem;
    justify-content: center;
  }

  .linkWrapper {
    width: 13.1875rem;
    height: 4.75rem;
  }

  .linkWrapper,
  .link,
  .link::after {
    border-radius: 1.75rem 0.25rem 1.75rem 1.75rem;
  }
}

@media (max-width: 904px) {
  .section {
    padding-top: 2.5rem;
  }

  .container {
    width: 36rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 2rem;
  }

  .icon {
    margin-left: -4.8125rem;
    margin-top: 3.8125rem;
    width: 20.625rem;
    height: 6.25rem;
  }

  .text {
    font-size: 1.625rem;
    margin-top: -0.625rem;
    margin-bottom: 0rem;
  }

  .contentWrapper {
    grid-area: 1 / 2 / 2 / 3;
    align-items: center;
  }

  .btnGroup {
    grid-area: 2 / 1 / 3 / 3;
    justify-content: center;
    align-items: start;
    height: 5rem;
  }

  .linkWrapper {
    width: 14.4375rem;
    height: 4.75rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 22.5rem;
  }

  .icon {
    margin-left: -1.375rem;
    margin-top: 1.375rem;
    width: 11.3125rem;
    height: 4.375rem;
  }

  .text {
    font-size: 1.1875rem;
    margin-top: -0.625rem;
    margin-bottom: 0rem;
    line-height: 120%;
  }

  .contentWrapper {
    left: -0.625rem;
  }

  .btnGroup {
    height: 3.75rem;
  }

  .linkWrapper {
    width: 9.75rem;
    height: 3.375rem;
  }

  .quizLink {
    font-size: 0.8125rem;
  }

  .linkWrapper,
  .link,
  .link::after {
    border-radius: 1rem 0.125rem 1rem 1rem;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20rem;
  }

  .icon {
    margin-left: 8.625rem;
    margin-top: -2.5625rem;
    width: 11.75rem;
    height: 8.875rem;
  }

  .text {
    margin-top: -3rem;
    font-size: 1.125rem;
  }

  .contentWrapper {
    position: absolute;
    right: 1.125rem;
  }

  .btnGroup {
    height: 3.75rem;
  }

  .quizLink {
    font-size: 0.75rem;
  }
}
