.section {
  padding-top: 72px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

.contentWrapper {
  position: relative;
  left: -68px;
}

.title {
  margin: 0;
}

.icon {
  margin-right: 178px;
  width: 495px;
  height: 158px;
  flex-shrink: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 125px;
  font-family: 'Naga', serif;
  text-align: right;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 104%;
  color: #f1ae79;
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 1200px) {
  .container {
    width: 1024px;
  }

  .icon {
    margin-right: 0;
    margin-left: -60px;
    margin-top: -22px;
    width: 445px;
    height: 118px;
  }

  .text {
    font-size: 36px;
  }

  .contentWrapper {
    left: 0;
  }
}
