.customSelect {
  position: relative;
  width: 100%;
  z-index: 10;
}

.inputGroup,
.selectTrigger {
  width: 100%;
  height: 3.75rem;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 1.25rem 0.125rem 1.25rem 1.25rem;
  padding: 0 2.5rem 0 1.25rem;
  font-family: 'Naga', serif;
  font-size: 1rem;
  color: #fecda7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.selectTrigger {
  z-index: 2;
}

.inputGroup,
.inputError {
  --borderWidth: 0.125rem;
  --borderGradient: linear-gradient(266.43deg, #b46b48 0%, #fecda7 100%);
  width: 36.875rem;
  height: 3.75rem;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 1.25rem 0.125rem 1.25rem 1.25rem;
  box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;
  padding: 0;
  z-index: 1;
}

.inputGroup::before,
.inputError::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--borderWidth);
  background-image: var(--borderGradient);
  border-radius: inherit;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask:
    conic-gradient(#000 0 0) content-box exclude,
    conic-gradient(#000 0 0);
  z-index: 0;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #13515e;
  --borderWidth: 0.125rem;
  --borderGradient: linear-gradient(266.43deg, #b46b48 0%, #fecda7 100%);
  border-radius: 1.25rem 0.125rem 1.25rem 1.25rem;
  max-height: 12.5rem;
  z-index: 100;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
  scrollbar-color: #fecda7 #13515e;
  box-shadow: 0.0625rem 0.0625rem 0.9375rem 0 #fecda7;
  z-index: 2;
}

.dropdown::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: var(--borderWidth);
  background-image: var(--borderGradient);
  border-radius: inherit;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask:
    conic-gradient(#000 0 0) content-box exclude,
    conic-gradient(#000 0 0);
  z-index: -1;
}

.inputError:after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow:
    0.0625rem 0.0625rem 0.625rem 0 #ff0000,
    0rem 0.25rem 0.25rem 0.3125rem #00000040;
  z-index: 1;
}

.dropdown::-webkit-scrollbar {
  width: 0.5rem;
}

.dropdown::-webkit-scrollbar-track {
  background: #13515e;
  border-radius: 0.625rem;
}

.dropdown::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b46b48, #fecda7);
  border-radius: 0.625rem;
}

.option {
  padding: 0.5rem 1.25rem;
  font-family: 'Naga', serif;
  font-size: 1rem;
  color: #93908d;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option.selected {
  color: #fecda7;
  font-weight: bold;
}

/* .inputError .customSelect {
   --borderColor: #ff0000; 
  
} */

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled .selectTrigger {
  cursor: not-allowed;
}

.placeholder {
  color: #93908d;
  opacity: 0.7;
}

.value {
  color: #fecda7;
}

.required {
  position: absolute;
  font-family: 'Courier New', monospace;
  top: 0.625rem;
  right: 0.625rem;
  color: #ff0000;
}

.error {
  position: absolute;
  bottom: -1.125rem;
  right: 0.625rem;
  color: #ff0000;

  font-family: 'Naga', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 100%;
}

@media (hover: hover) {
  .option:hover {
    color: #fecda7;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .inputGroup,
  .inputError {
    width: 30.125rem;
    height: 3rem;
    border-radius: 1.0212rem 0.1019rem 1.0212rem 1.0212rem;
  }

  .inputGroup .selectTrigger {
    height: 3rem;
  }

  .input {
    height: 3rem;
    border-radius: 1.0212rem 0.1019rem 1.0212rem 1.0212rem;
    font-size: 0.875rem;
  }

  .dropdown {
    border-radius: 1.0212rem 0.1019rem 1.0212rem 1.0212rem;
  }

  .option {
    padding: 0.5625rem 1.25rem;
    font-size: 0.875rem;
  }

  .option.selected {
    font-size: 0.875rem;
  }

  .value {
    font-size: 0.875rem;
  }

  .placeholder {
    font-size: 0.875rem;
  }

  .required {
    top: 0.3125rem;
  }
}

@media (max-width: 904px) {
  .inputGroup,
  .inputError {
    width: 27rem;
  }

  .input::-webkit-input-placeholder {
    font-size: 0.875rem;
  }

  .input::-moz-placeholder {
    font-size: 0.875rem;
  }

  .input:-ms-input-placeholder {
    font-size: 0.875rem;
  }

  .input::-ms-input-placeholder {
    font-size: 0.875rem;
  }

  .input::placeholder {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .inputGroup,
  .inputError {
    width: 15.5rem;
    height: 1.75rem;
    border-radius: 0.75rem 0.125rem 0.75rem 0.75rem;
  }

  .inputGroup .selectTrigger {
    height: 1.75rem;
  }

  .input {
    height: 1.75rem;
    border-radius: 0.75rem 0.125rem 0.75rem 0.75rem;
    font-size: 0.75rem;
  }

  .dropdown {
    border-radius: 0.75rem 0.125rem 0.75rem 0.75rem;
  }

  .option {
    padding: 0.3125rem 1.25rem;
    font-size: 0.75rem;
  }

  .option.selected {
    font-size: 0.75rem;
  }

  .value {
    font-size: 0.75rem;
  }

  .input::-webkit-input-placeholder {
    font-size: 0.75rem;
  }

  .input::-moz-placeholder {
    font-size: 0.75rem;
  }

  .input:-ms-input-placeholder {
    font-size: 0.75rem;
  }

  .input::-ms-input-placeholder {
    font-size: 0.75rem;
  }

  .input::placeholder {
    font-size: 0.75rem;
  }

  .placeholder {
    font-size: 0.75rem;
  }

  .required {
    top: 0;
    right: 0.3125rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 360px) {
  .input {
    font-size: 0.625rem;
  }

  .option {
    font-size: 0.625rem;
  }

  .input::-webkit-input-placeholder {
    font-size: 0.625rem;
  }

  .input::-moz-placeholder {
    font-size: 0.625rem;
  }

  .input:-ms-input-placeholder {
    font-size: 0.625rem;
  }

  .input::-ms-input-placeholder {
    font-size: 0.625rem;
  }

  .input::placeholder {
    font-size: 0.625rem;
  }

  .placeholder {
    font-size: 0.625rem;
  }

  .required {
    font-size: 0.625rem;
  }

  .value {
    font-size: 0.625rem;
  }
}
