* {
  box-sizing: border-box;
  /* border: 1px solid purple; */
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  height: 3152px; /* пока так для видимости градиента */
  background: linear-gradient(
    180deg,
    #13515e 3.3%,
    #6ec4c5 33%,
    #13515e 36.9%,
    #6ec4c5 69.9%,
    #13515e 73.2%,
    #6ec4c5 100%
  );
}

:root {
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}
